@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
https://dribbble.com/signup/new
*/

:root {
    --main-txt-color: rgba(224, 224, 224, 0.856);
    --black-txt-color: rgb(37, 37, 37);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1517866761205-78588fc92752?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80');
    background-color: white;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1.5s ease;

    overflow: hidden;
}

#wrapper {
    z-index: 1;

    width: 400px;
    height: 300px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    background: rgba(167, 167, 167, 0.068);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    padding: 15px;
}

#wrapper:hover {
    cursor: default;
}

#date-time {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#time {
    text-align: center;
    color: var(--main-txt-color);
    margin-bottom: 15px;
    font-size: 69px;
    font-weight: 500;
    text-shadow: 4px 4px 7px rgba(53, 53, 53, 0.61);

    
}

#dia-semana {
    text-align: center;
    color: var(--main-txt-color);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 4px;
    text-shadow: 4px 4px 7px rgba(29, 29, 29, 0.747);
}

@media (max-width:410px) {
    #wrapper {
        width: 86%;
    }
}