@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --default-text: rgb(214, 214, 214);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    color: var(--default-text);
}

body {
    width: 100%;

    background-color: #121212;

    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    height: 100%;
    width: 650px;
}

#title, #title:hover {
    text-align: center;
    opacity: 0.92;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--default-text);
    cursor: default;
    font-size: 22px;
    font-weight: 400;
}

#inputs {
    width: 70%;
    margin: 30px auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    width: 100%;
    padding-left: 10px;
    border: 1px solid var(--default-text);
    height: 30px;
    margin-top: 10px;
    background-color: #121212;
    display: block;
}

#button1 {
    background-color: #121212;
    color: var(--default-text);
    border: 1px solid var(--default-text);
    font-weight: 500;
    display: block;
    width: 180px;
    height: 38px;
    cursor: pointer;
    margin: auto;
}

#button1:hover {
    color: #121212;
    background-color: var(--default-text);
}

#button1:active {
    transform: scale(1.01);
}

label {
    margin: 0px 10px;
    display: block;
}

#contagem {
    line-height: 1.7;
    margin-top: 95px;
    padding: 10px;
    letter-spacing: 1.9px;
    text-align: center;
    cursor: default;
}

.icons {
    width: 18px;
    display: inline;
    margin-left: 6px;
    opacity: 0.8;
}

.icon-div {
    display: flex;
    align-items: center;
}

::selection {
    background-color: var(--default-text);
}